*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}


#main{
    width: 100%;
    height: 100%;
    background-color: #0942E3;
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;

}


#right{
    gap: 200rem;
}

#right button{

    
}